<!DOCTYPE html>
<html>
  <head>
    <title>CvApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p>hello, <%= current_user.name %> - <%= link_to "sign_out", destroy_user_session_path, :method => 'delete' %></p>

    <br>
    <% end %>
    
    <%= yield %>
  </body>
</html>
